
.layout {
    font-size: calc(1rem+0.5vw);
    margin: 0 auto;
}

footer {
    background: #323f4b;
}

.footer {
    width: 1440px;
    margin: 0 auto;
    color: #7b8794;
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
